
<%= render "shared/jumbotron", header: "Mat Ivan Arquero Graphic Designs", tag_line: "Where Perfection is the only Option!" %>


<div class="row text-center">
	<div class="col-lg-4">
		
	<%= render "shared/card", image: "art1.png", title: "Ateneo Badminton Team", body: "Ateneo Badminton Team's jersey at BACS MEET 2018 was designed by Mat Ivan Arquero Graphic Solutions!", btn_text: "", link_text: "" %>

</div>

	</div>

	<div class="col-lg-4">
	<%= render "shared/card", image: "art2.png", title: "UNECS Badminton Team", body: "UNECS Badminton Team's jersey for Ateneo Intramurals 2016-2018 was designed by Mat Ivan Arquero Graphic Solutions!", btn_text: "", link_text: "" %>
	</div>
	</div>

	<div class="col-lg-4">
	<%= render "shared/card", image: "me.jpg", title: "Know me better!", body: "Know more about Mat Ivan Arquero and his life!", btn_text: "About me", link_text:  "#" %>
	</div>
	</div>


	
	</div>

	<div class="col-lg-4">
	
</div>
	</div>
</div>














