<div class="jumbotron text-center bg-dark text-light">

	<h1 class="Mat-Ivan-Arquero"><%= header %></h1>
	

	<p style = "font-family:georgia,garamond,serif;font-size:20px;font-style:italic;">
         <%= tag_line %>
      </p>
	
	
</div>

